/* ===============================
   RESET + GLOBAL STYLES
=============================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
  
}

/* ===============================
   TYPOGRAPHY
=============================== */
h1 {
  font-size: 64px; /* was 48 */
  margin-bottom: 20px;
}

h2 {
  font-size: 36px; /* was 28 */
}

p {
  font-size: 18px; /* was 16 */
  line-height: 1.7;
}
 /* scroll-snap-type: y mandatory; */